body {
  background-color: grey;
}

#game {
  background-color: blue;
}

.square {
  border-radius: 10%;
  background-color: blue;
}
.wrapper {
  margin: auto;
  width: 50%;
  height: 50%;
}

.que {
  display: flex;

}
